
.left {
	float: left;
}
.right {
	float: right;
}

#slide{
	background-image: url('../images/home/background-slide.png');
	height: 400px;
	width: 100%;
}
#slide img{
	margin-top: 40px;
	height: 100%;
	width: 100%;
}
.inline {
	display: inline-block;
}

/*Introduce*/
#introduce {
	height: 400px;
	background: #ffffff; 
}
/*#introduce:after {
    clear: both;
    content: ".";
    display: block;
    height: 0; 
    line-height: 0; 
    visibility: hidden; 
}*/
#introduce .left {
	width: 550px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}
#intro-title {
	margin-top: 40px;
	font-size: 30px;
	color: #333333;
}
#intro-content {
	margin-top: 30px;
	font-size: 17px;
	color: #033333;
}
#intro-footer {
	margin-top: 40px;
}
#intro-footer img{
	margin-right: 10px;
}
#introduce .right {
	margin-top: 40px;
}
#introduce .right img {
	height: 100%;
	width: 100%;
}


/*Offer*/
#offer {
	clear: both;
	height: 340px;
	background: #f89502;
}
#offer:after {
	clear: both;
    content: ".";
    display: block;
    height: 0; /* Chieu cao cua thanh phan bang 0 */
    line-height: 0; /* Khoang cach cua dong` bang 0 */
    visibility: hidden;
}
.offer-center {
	/*clear: both;*/
	margin: auto;
	width: 1600px;
	padding-left: 50px;
	/*text-align: center;*/
	/*overflow: auto;*/

}
#offer-title {
	width: 260px;
	height: 270px;
	float: left;
	background: #ffffff;
	margin: 30px 30px 30px 100px;
}
#offer-title div{
	margin-top: 70px;
	margin-left: 40px;
}
#offer-title div p{
	font-size: 40px;
	color: #333333;
}

#offer-main {
	
	height: 340px;
	/*width: 1100px;*/
	/*float: left;*/
	position:relative;
	color: #ffffff;
}
#offer-main a{
	text-decoration: none;
}

.read-more {
	width: 100px;
	height: 30px;
	padding-top: 10px;
	margin-left: 20px;
	border: solid;
	border-color: #f89502;
	border-width: 3px;
	
	
	
}
.read-more a{

	color: #f89502;
	padding-left: 10px;
	
}
.read-more a:hover {
	color: blue;
}

#offer1 {
	float: left;
	height: 340px;
	width: 600px;
	background-image: url('../images/home/offer-img2.png');
}

#offer1 p:nth-child(1){
	padding-top: 160px;
	padding-left: 20px;

	font-size: 40px;
}
#offer1 p:nth-child(2){
	margin-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	font-size: 15px;
}

#offer2 {
	float: left;
	height: 340px;
	width: 255px;
	background-image: url('../images/home/offer-img3.png');
}
#offer2 p:nth-child(1){
	padding-top: 160px;
	padding-left: 20px;
	color: #ffffff;
	font-size: 30px;
}
#offer2 a{
	color: #f89502;;
	padding-top: 20px;
	padding-left: 20px;
}
#offer3 {
	float: left;
	height: 340px;
	width: 240px;
	background-image: url('../images/home/offer-img4.png');
}
#offer3 p:nth-child(1){
	padding-top: 160px;
	padding-left: 20px;
	color: #ffffff;
	font-size: 30px;
}
#offer3 a{
	color: #f89502;;
	padding-top: 20px;
	padding-left: 20px;
}

#main-body {
	height: 560px;
	background: #ffffff;
}


#list-news {
	width: 615px;
	
	
}
.headding {
	font-size: 30px;
	color: #333333;
	margin-top: 30px;

}
.news{
	clear: both;
	height: 100px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.news-content {
	float: left;
	width: 400px;
	padding-left: 20px;
}
.news-content a{
	text-decoration: none;
	color: #333333;
	font-size: 20px;
}
.news-content div{
	padding-top: 10px;
	color: #999999;
}
.news-content p{
	color: #999999;
	font-size: 15px;
	padding-right: 20px;
	padding-top: 15px;
}
#link-video {
	padding-top: 30px;
	height: 580px;
	width: 360px;
}

